.block__header-home, 
.block__header-other {
    width:100%;
    display: flex;
    flex-flow: row wrap;
}

.block__header-home {
    justify-content: center;
    align-items: center;
    height: 20%;
    text-align: center;
}

.block__header-other {
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.block__header--nav {
    text-decoration: none;
    font-size: 16px;
    color: #C85876;
    padding: 5px;
    font-weight: bold;
}

.block__header--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

.block__header--nav > h4 {
    color: #737373;
}

.block__header--nav:hover {
    color: #D56F85;
}

.block__header-home > figure > .block__header__logo {
    margin-top: 20px;
    width: 70%;
}

.block__header-other > figure > .block__header__logo {
    margin-top: 10px;
    width: 40%;
}

.block__header--nav:focus-within {
    text-decoration: underline;
    outline: 1px dashed #D56F85;
}