/*bright blue = #1293D6, dark blue = #106BAC, orange = #F5A012*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

.block__modalContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(225,225,225, 0.5);
    position: absolute;
    top:0;
}

.block__modalContainer__dialogBox {
    width: 500px;
    height: 37%;
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(138,138,138,1);
    box-shadow: 0px 0px 21px 0px rgba(138,138,138,1);   
}

.block__modalContainer__dialogBox > h2 {
    color: #C85876;
    margin-bottom: 20px;
}

.block__modalContainer__dialogBox > h1 {
    color: #C85876;
    margin: 0;
}

.block__modalContainer__dialogBox > span {
    visibility: hidden;
    height: 0;
}

.block__modalContainer--nav > button {
    width: 166px;
    height: 40px;
    background-color: #EDA9A9;
    margin: 30px 10px 0 10px;
    border:none;
    border-radius: 40px;
    font-size: 0.7rem;
    color: #3a3a3a;
    font-weight: bold;
}

.block__modalContainer--nav > button:hover,
.block__modalContainer--nav > button:focus {
    background-color: #BE3459;
    color: #ffffff;
    cursor: pointer;
}

.block__modalContainer--nav > button:focus-within {
    outline: 1px dashed rgb(202, 202, 202);
}

.block__modalContainer--nav > button:first-of-type {
    background-color: #dbdbdb;
    color: #3a3a3a;
}

.block__modalContainer--nav > button:first-of-type:hover,
.block__modalContainer--nav > button:first-of-type:focus {
    background-color: #3a3a3a;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) { 

    .block__modalContainer {
        height: 830px;
    }

    .block__modalContainer__dialogBox {
        width: 80%;
        height: auto;
        padding: 40px;
    }

    .block__modalContainer--nav {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .block__modalContainer--nav > button:last-of-type {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 420px) { 

    .block__modalContainer__dialogBox {
        padding: 20px;
    }

    .block__modalContainer__dialogBox > h2 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .block__modalContainer--nav > button:last-of-type {
        margin-bottom: 20px;
    }
}